<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="mobile-web-app-capable" content="yes">
		<meta property="og:image" content="/static/assets/images/menu/skull.png" />
		<title>{{{title}}}</title>
		<meta name="description" content="{{{description}}}">
		<style>{{{initialCSS}}}</style>
	</head>
	<body>
	<div id="app">{{{initialHtml}}}</div>
	
	{{!-- THIS IS USED WITHIN DEVICEORIENTATION.JSX <article class="deviceorientation">
		<img src="/static/assets/images/rotate-text.jpg" />
	</article> --}}
	
	{{!-- <canvas id="game" width="480px" height="240px"></canvas>
	

	<article class="overlays">
		<section class="mobile">
			<div class="overlayassets jump mobileaction"></div>
			<div class="overlayassets start mobileaction"></div>
			<div class="overlayassets b mobileaction"><span>3</span></div>
			<div class="overlayassets a mobileaction"></div>
		</section>
	</article>

	<article class="menu active">

		<section class="loader active">
			<img class="gangsterclaus" src="game/assets/menu/gangsterclaus.png" />
			<img class="skull heartbeat" src="game/assets/menu/skull.png" />
		</section>

		<section class="home">
			<img class="gangsterclaus" src="game/assets/menu/gangsterclaus.png" />
			<div class="left">
				<img class="santarun" src="game/assets/menu/santarun.gif" />			
			</div>
			
			<div class="right">
				<ul>
					<li class="play text">Play</li>
					<li class="leaderboards text">Leaderboards</li>
					<li class="settings text">Settings</li>
					<!-- <li class="nes text"> Use controller </li> -->
				</ul>
			</div>
		</section>

		<section class="ingame-pause">
			<div class="left">
				<img class="elfrun" src="game/assets/menu/elfrun.gif" />			
			</div>
			
			<div class="right">
				<div class="pause-text">Pause</div>

				<ul>
					<li class="resume text">Resume</li>
					<li class="restart text delay-02">Restart</li>
					<li class="settings text delay-04">Settings</li>
					<li class="quit text delay-06">Quit</li>
				</ul>

			</div>

		</section>


		<section class="settings">
			<div class="left">
				<img class="deerrun" src="game/assets/menu/deerrun.gif" />			
			</div>
			
			<div class="right">
				<div class="settings-text">Settings</div>

				<ul>
					<li class="controls text">Controls</li>
					<li class="audio text on">Audio FX</li>
					<li class="music text on">Music</li>
					<li class="about text">About</li>
					<li class="loginandlogout text">Log in/out</li>
				</ul>

				<img class="back" src="game/assets/menu/back.png">
			</div>
		</section>


		<section class="gameover">
			<img class="gameovertext" src="game/assets/menu/gameover.png" />
			<img class="gameoverskull" src="game/assets/menu/skull.png" />

			<div class="gameovercontainer">
				<div class="score">#__ 999,999</div>
				<ul>
					<li class="restart text">Restart</li>
					<li class="leaderboards text">Leaderboards</li>
					<li class="quit text">Quit</li>
				</ul>
				<a href="#" class="twitter socialbutton"><img src="game/assets/menu/twitter.png"></a>
				<a href="#" class="facebook socialbutton"><img src="game/assets/menu/facebook.png"></a>
				<a href="#" class="linkedin socialbutton"><img src="game/assets/menu/linkedin.png"></a>
			</div>
		</section>


		<section class="leaderboards">
			<div class="leaderboardtitle">Leaderboard</div>
			<div class="table">
				<div class="top">
					#__ 999,999 USERNAME
				</div>
				<div class="bottom">
					<ul>
					</ul>
				</div>
			</div>

			<div class="feedbottom">
				<div class="play text">Play</div>
				<a href="#" class="twitter socialbutton"><img src="game/assets/menu/twitter.png"></a>
				<a href="#" class="facebook socialbutton"><img src="game/assets/menu/facebook.png"></a>
				<a href="#" class="linkedin socialbutton"><img src="game/assets/menu/linkedin.png"></a>
			</div>

			<img class="back" src="game/assets/menu/back.png">
		
		</section>


		<section class="about">
			<div class="abouttitle"><img src="game/assets/menu/vitaminlogo.png" /></div>
			<div class="table">
				<div class="top">
					#__ 13,034 CHICUELLA
				</div>
				<div class="bottom">
					<p class="aboutustext">
						We’re a digital development studio based in central London. As we have grown many things have changed; our offices, our clients and our hairlines. 
						What hasn’t is our desire to produce innovative work, always seeking new ways of marrying functionality with aesthetics. But most importantly we love what we do and our clients love us too.
						Special thanks to Nick and Bob for creating this game.
					</p>
				</div>
			</div>


			<div class="feedbottom">
				<a href="http://www.vitaminlondon.com" target="_blank" class="vitaminwebsite">vitaminlondon.com</a>
				<a href="http://www.twitter.com/vitaminlondon" target="_blank" class="vitamintwitter">@vitaminlondon</a>
				<div class="play text">Play</div>
				<img class="back" src="game/assets/menu/back.png">
			</div>

		</section>


		<section class="loginandregister">
			<article class="login">
				<article class="imagelogin">
					<img class="ladysmoke" src="game/assets/menu/ladysmoke.gif" />
				</article>
				<div class="right">
					<div class="login-text content-box">Login</div>
					<ul>
						<li> <input class="login-email" type="email" placeholder="email" /> <span class="error l-email">Invalid email</span> </li>
						<li> <input class="login-password" type="password" placeholder="password" /> <span class="error l-password">Invalid password</span> </li>
					</ul>
					<div class="start text">Start</div>
					<div class="register text">Register</div>
				</div>

				<img class="back" src="game/assets/menu/back.png">
			</article>
			
			<article class="register">
				<article class="imageregister">
					<img class="evildeerrun" src="game/assets/menu/evildeerrun.gif" />
				</article>
				<div class="right">
					<div class="register-text content-box">Register</div>
					<ul>
						<li> <input class="register-email" type="email" placeholder="email" /> <span class="error r-email">Email in use</span> </li>
						<li> <input class="register-nickname" type="text" placeholder="St nickname" /> <span class="error r-username">Username in use</span> </li>
						<li class="r-password-li"> <input class="register-password" type="password" placeholder="password" /> <span class="error r-password">Minimum 6 characters, 1 uppercase and 1 number</span> </li>
					</ul>

					<p>
						No spam emails,
						just game analytics and 
						our little monthly newsletter
					</p>

					<div class="agreeandstart text">Register</div>
				</div>

				<img class="back backregister" src="game/assets/menu/back.png">
			</article>
		</section>

		<section class="controls">
			<div class="container">
				<div class="header">Controls</div>
				<img class="controls" src="game/assets/menu/controls.png" />
				<div class="info">Keyboard/Phone/Nes</div>
				<img class="back" src="game/assets/menu/back.png">
			</div>
		</section>


		<section class="loginpopup">
			<div class="container">
				<div class="header">Please login or register to submit your score!</div>
				<div class="proceed text">Proceed to login/register</div>
				<div class="nothanks text">No thanks, i'd rather stay anonymous</div>
			</div>
		</section>

		<section class="controllerpopup">
			<div id="qrcode">
				<div class="qrtext">Either type in the url on your mobile browser or scan the QR code to activate the controller</div>
				<div id="qrlink"></div>
			</div>
		</section>

	</article> --}}

{{!-- 	<script src="game/js/helper.js"></script>
	<script src="game/js/handler.js"></script>
	<script src="game/js/quadTree.js"></script>
	<script src="game/js/settings.js"></script>
	<script src="game/js/menu.js"></script>
	<script src="game/js/nes.js"></script>
	<script src="game/js/sound.js"></script>
	<script src="game/js/user.js"></script>
	<script src="game/js/utilities.js"></script>
	<script src="game/js/particle.js"></script>
	<script src="game/js/explosion.js"></script>
	<script src="game/js/characterparticle.js"></script>
	<script src="game/js/explosionparticle.js"></script>
	<script src="game/js/bloodparticle.js"></script>
	<script src="game/js/bloodsplat.js"></script>
	<script src="game/js/gunparticle.js"></script>
	<script src="game/js/gun.js"></script>
	<script src="game/js/machinegun.js"></script>
	<script src="game/js/bazooka.js"></script>
	<script src="game/js/bullets.js"></script>
	<script src="game/js/gunbullet.js"></script>
	<script src="game/js/bazookabullet.js"></script>
	<script src="game/js/character.js"></script>
	<script src="game/js/player.js"></script>
	<script src="game/js/deer.js"></script>
	<script src="game/js/elf.js"></script>
	<script src="game/js/snow.js"></script>
	<script src="game/js/powerup.js"></script>
	<script src="game/js/collectable.js"></script>
	<script src="game/js/bikepowerup.js"></script>
	<script src="game/js/snowmobilepowerup.js"></script>
	<script src="game/js/boozepowerup.js"></script>
	<script src="game/js/bazookapowerup.js"></script>
	<script src="game/js/coincollectable.js"></script>
	<script src="game/js/light.js"></script>
	<script src="game/js/mask.js"></script>
	<script src="game/js/arena.js"></script>
	<script src="game/js/ladyofthenight.js"></script>
	<script src="game/js/levelobject.js"></script>
	<script src="game/js/trap.js"></script>
	<script src="game/js/missile.js"></script>
	<script src="game/js/truck.js"></script>
	<script src="game/js/suv.js"></script>
	<script src="game/js/car.js"></script>
	<script src="game/js/bin.js"></script>
	<script src="game/js/house.js"></script>
	<script src="game/js/roadhole.js"></script>
	<script src="game/js/tile.js"></script>
	<script src="game/js/lib.js"></script> --}}
	<script>
    window.__INITIAL_STYLE_IDS__ = {{{initialIds}}}
    window.__INITIAL_STATE__ = {{{initialJSONState}}}
  </script>
	</body>
</html>